.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 200px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #e44848;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.inline {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.inline .spinner {
    margin: 0;
}