.heroWrapper {
  max-width: 1440px;
  width: 100%;                
  height: 60vh;              
  margin: 0 auto;
  background-image: url("../../images/banner.jpg");

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.heroWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}


.container {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-left: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;         
  font-size: 48px;
  line-height: 32px;
  color: #F7F7F7;
  margin: 0;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;         
  font-size: 24px;
  line-height: 32px;
  color: #F7F7F7;
  margin: 0;
}

.button {
  width: 173px;               
  height: 56px;                
  font-family: "Inter", sans-serif;
  font-weight: 500;           
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.005em;
  background-color: #e44848;   
  color: #ffffff;             
  border: none;
  border-radius: 200px;    
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;          
}

.button:hover {
  background-color: #D84343;
}

